html {
	margin: 0 auto;
}

body {
text-align: center;
}

.container {
	height: 100%;
	width: 100%;
}

.event {
	background-color: bisque;
}

.make {
	background-color: cornflowerblue;
}

.link {
	margin: 10px; 
}
